body{
    background-color: #595959;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    background-color: white;
    padding: 4rem;
    border-radius: .80rem;
}


form {
    display: flex;
    flex-direction: column;
}

form label{
    display: block;
    margin-bottom: .2rem;
}

input, button {
    width: 100%;
    padding: .10rem;
    box-sizing: border-box;
}

button{
    padding: .3rem;
}

